* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {

    background-color: #242729;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 11vh;
}

/* Navbar Styling */

.navbar {
    display: flex;
    background-color: #161616;
    width: 100%;
    z-index: 10;
    height: 11vh;
    position: fixed;
    top: 0;
    left: 0;

}

/* Logo Styling */
.logo img {
    width: 20vh;
    margin-top: 2.5vh;
    margin-left: 2vw;

}

/* Categories Section */
.categories {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.category-icon img {
    padding: 1.5vw;
    height: 10vh;
}

.category-icon img {
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    display: flex;
    align-items: center;
}

.navbar-link {
    color: #FFFEFE;
    text-decoration: none;
    font-size: 2.8vh;
    transition: color 0.3s ease;

}

/* Home Section */
.home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px;
}

.homeicon {
    width: 24px;
    height: 24px;
    margin-right: 1.5vw;
}

.hometext {
    color: #FFFEFE;
    font-size: 2.8vh;
}


/* Right Section Links */
.right-section {
    text-align: right;
    margin-right: 3vw;
    margin-top: 3.8vh;
}

.right-link {
    color: #7b7b7b;
    text-decoration: none;
    font-size: 1.3vw;
    transition: color 0.3s ease;

}

.separator {
    margin: 0 0.5rem;
    color: #7b7b7b;
    font-size: 1.3vw;
}

.content {
    color: white;
    margin-top: 7%;
    padding-left: 23.5%;
    text-align: left;

}

.content h1 {
    color: white;
}
.content p{
    padding-top: 2%;
}

.content h2 {
padding-top: 2%;
    color: white;

}

.keypoint strong {
    padding-top: 2%;
    color: white;
    font-weight: bolder;
    padding-bottom: 2%;
}

.support{
    padding-bottom: 5%;
}

#navbar-second{
    display: none;
}

#footer{
    display: none;
}