* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;


}

body {

    background-color: #242729;
}

.cont {
    display: flex;
    flex-direction: column;
    padding-top: 11vh;
}

/* Navbar Styling */

.nav {
    display: flex;
    background-color: #161616;
    width: 100%;
    z-index: 10;
    height: 11vh;
    position: fixed;
    top: 0;
    left: 0;

}

/* Logo Styling */
.log img {
    width: 20vh;
    margin-top: 2.5vh;
    margin-left: 2vw;

}

/* Categories Section */
.cate {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.cate-icon img {
    padding: 1.5vw;
    height: 10vh;
}

.cate-icon img {
    cursor: pointer;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #FFFEFE;
    text-decoration: none;
    font-size: 2.8vh;
    transition: color 0.3s ease;

}

/* Home Section */
.house {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px;
}

.houseicon {
    width: 24px;
    height: 24px;
    margin-right: 1.5vw;
}

.housetext {
    color: #FFFEFE;
    font-size: 2.8vh;
}


/* Right Section Links */
.rig-section {
    text-align: right;
    margin-right: 3vw;
    margin-top: 3.8vh;
}

.rig-link {
    color: #7b7b7b;
    text-decoration: none;
    font-size: 1.3vw;
    transition: color 0.3s ease;

}

.separator {
    margin: 0 0.5rem;
    color: #7b7b7b;
    font-size: 1.3vw;
}

.con {
    color: white;
    margin-top: 7%;
    padding-left: 23.5%;
    text-align: left;

}

.con h3 {
    padding-top: 2%;
}

.con p {
    padding-top: 2%;
}

.con h2 {
    padding-top: 2%;
    color: white;

}

.sup{
    padding-bottom: 5%;
}

#navbar-second {
    display: none;
}

#foot {
    display: none;
}

