* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 11vh;
}

/* Navbar Styling */

.navbar {
    display: flex;
    background-color: #161616;
    width: 100%;
    z-index: 10;
    height: 11vh;
    position: fixed;
    top: 0;
    left: 0;

}

/* Logo Styling */
.logo img {
    width: 20vh;
    margin-top: 2.5vh;
    margin-left: 2vw;

}

/* Categories Section */
.categories {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.category-icon img {
    padding: 1.5vw;
    height: 10vh;
}

.category-icon img {
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    display: flex;
    align-items: center;
}

.navbar-link {
    color: #FFFEFE;
    text-decoration: none;
    font-size: 2.8vh;
    transition: color 0.3s ease;

}

/* Home Section */
.home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px;
}

.homeicon {
    width: 24px;
    height: 24px;
    margin-right: 1.5vw;
}

.hometext {
    color: #FFFEFE;
    font-size: 2.8vh;
}

/* Right Section Links */
.right-section {
    text-align: right;
    margin-right: 3vw;
    margin-top: 3.8vh;
}

.right-link {
    color: #7b7b7b;
    text-decoration: none;
    font-size: 1.3vw;
    transition: color 0.3s ease;

}

.separator {
    margin: 0 0.5rem;
    color: #7b7b7b;
    font-size: 1.3vw;
}

/* Sidebar - Latest News Section */


#main-body {
    display: flex;
    width: 100vw;
    margin-left: 2vw;
    margin-top: 13vh;
}

#trending-news-container {
    text-align: justify;
    font-size: 1.1vw;
    margin-top: 2vh;
    width: 24%;
}

#trending-news-container h3 {
    margin-bottom: 5%;
}


#main-body div .card {
    display: flex;
    width: 30;
    margin: 0.4vw;
    font-size: 1em;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card-image-box {
    width: 40%;
    height: 100%;
}

#trending-news-container .card img {
    width: 100%;
    border-radius: 6px;
    height: 100%;
}

.card-body {
    width: 60%;
    margin-top: 5%;

}

#main-body div .card-title {
    font-size: 1.1vw;
    font-weight: 600;
    width: 85%;
    margin-bottom: 8%;
    margin-left: 1.2vw;
}

/* link photo  */

.photo {
    height: 60vh;
}

.linkphoto {
    position: relative;
    width: fit-content;
    height: fit-content;
    overflow-y: hidden;
}

.linkphoto img {
    display: block;
    position: absolute;
    width: 100%;
    border-radius: 4%;
    margin-top: 3vh;
}

.linkphoto img:first-child {
    position: relative;
}

.linkphoto .android {
    z-index: 1;
    position: absolute;
    top: -14.2vh;
    left: -1.7vw;
    height: 4.3vh;
    width: 31%;
    margin-left: 5.5vw;
    cursor: pointer;
}

.linkphoto .ios {
    z-index: 1;
    position: absolute;
    top: -21.5vh;
    left: 11.2vw;
    height: 4.3vh;
    width: 31%;
    cursor: pointer;
}

/* News */

.titleicon {
    display: flex;
}

.titleicon img {
    width: 2.5vw;
    height: 5vh;
}

.titleicon h4 {
    position: relative;
    left: -2%;
    margin-top: 0.2%;
}

.section-title {
    margin-bottom: 2%;
    margin-left: 4%;
    font-size: 1.5vw;
}

#articles-container {
    margin-left: 2%;
    margin-top: 1%;
    width: 70%;
    background-color: #F8F8F8;
    /* background-color: aqua; */
    border-radius: 10px;
    padding: 15px;
    overflow-y: hidden;
    padding-bottom: 2%;
}

.article {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.article-image-container {
    width: 20%;
    height: 100%;
}

.article-body {
    width: 80%;
    padding: 20px;
}

.article-image {
    height: 90%;
    width: 100%;
    border-radius: 10px;
}

.article-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.article-date {
    font-size: 1vw;
    color: #7b7b7b;
    margin-top: 7vh;
}


/* Cricket  */

.cricket-titleicon {
    display: flex;
}

.cricket-titleicon img {
    width: 2.5vw;
    height: 5vh;
}

.cricket-titleicon h4 {
    position: relative;
    left: -2%;
    margin-top: 0.2%;
}

.cricket-section-title {
    margin-bottom: 2%;
    margin-left: 4%;
    font-size: 1.5vw;
}

#cricket-articles-container {
    margin-left: 28.2%;
    margin-top: 1%;
    width: 70.9%;
    background-color: #F8F8F8;
    /* background-color: aqua; */
    border-radius: 10px;
    padding: 15px;
    overflow-y: hidden;
}

.cricket-article {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.cricket-article-image-container {
    width: 20%;
    height: 100%;
}

.cricket-article-body {
    width: 80%;
    padding: 20px;
}

.cricket-article-image {
    height: 90%;
    width: 100%;
    border-radius: 10px;
}

.cricket-article-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.cricket-article-date {
    font-size: 1vw;
    color: #7b7b7b;
    margin-top: 7vh;
}


/* Bollywood */


.bollywood-titleicon {
    display: flex;
}

.bollywood-titleicon img {
    width: 2.5vw;
    height: 5vh;
}

.bollywood-titleicon h4 {
    position: relative;
    left: -2%;
    margin-top: 0.2%;
}

.bollywood-section-title {
    margin-bottom: 2%;
    margin-left: 4%;
    font-size: 1.5vw;
}

#bollywood-articles-container {
    margin-left: 28.2%;
    margin-top: 1%;
    width: 70.9%;
    background-color: #F8F8F8;
    /* background-color: aqua; */
    border-radius: 10px;
    padding: 15px;
    overflow-y: hidden;
}

.bollywood-article {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.bollywood-article-image-container {
    width: 20%;
    height: 100%;
}

.bollywood-article-body {
    width: 80%;
    padding: 20px;
}

.bollywood-article-image {
    height: 90%;
    width: 100%;
    border-radius: 10px;
}

.bollywood-article-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.bollywood-article-date {
    font-size: 1vw;
    color: #7b7b7b;
    margin-top: 7vh;
}


#navbar-second{
    display: none;
}

#footer{
    display: none;
}