* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    
}

/* Navbar Styling */
.navbar {
    display: flex;
    background-color: #161616;
    width: 100%;
    z-index: 10;
    height: 11vh;
}

/* Logo Styling */
.logo img {
    width: 20vh;
    /* Adjust width to maintain balance */
    margin-top: 2.5vh;
    margin-left: 2vw;
    /* Ensure spacing from the left edge */
}

/* Categories Section */
.categories {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    /* Ensures the section expands properly */
}

.category-icon img{
    padding: 1.5vw;
    height: 10vh;
}

.category-icon img{
    cursor: pointer;
}
.navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    display: flex;
    align-items: center;
}

.navbar-link {
    color: #FFFEFE;
    /* Light text color for contrast */
    text-decoration: none;
    /* Remove underline */
    font-size: 2.8vh;
    transition: color 0.3s ease;
    /* Smooth transition for hover effect */
}

/* Home Section */
.home {
    display: flex;
    /* Use flexbox for alignment */
    align-items: center;
    /* Vertically center icon and text */
    text-decoration: none;
    /* Remove underline from the link */
    color: white;
    /* Text color */
    margin: 10px;
    /* Add spacing around */
}

.homeicon {
    width: 24px;
    /* Icon size */
    height: 24px;
    margin-right: 1.5vw;
    /* Space between icon and text */
}

.hometext {
    color: #FFFEFE;
    font-size: 2.8vh;
}

/* Right Section Links */
.right-section {
    text-align: right;
    margin-right: 3vw;
    margin-top: 3.8vh;
}

.right-link {
    color: #7b7b7b;
    text-decoration: none;
    font-size: 1.3vw;
    transition: color 0.3s ease;
    /* Smooth transition for hover effect */
}

.separator {
    margin: 0 0.5rem;
    color: #7b7b7b;
    font-size: 1.3vw;
}

/* Sidebar - Latest News Section */
.Latestnews {
    padding-top: 5vh;
    padding-left: 2vw;
    text-align: left;
}

.Latestnews h4 {
    margin: 0;
    font-size: 1.5vw;
    color: #010001;   
}

.Latestnews {
    padding: 20px;
    background-color: #f9f9f9;
}

#main-body{
    display: flex;
    width: 100vw;
    margin-left: 2vw;
    margin-top: 2vh;
}

#main-body div:nth-child(1)
{
    text-align: justify;
    font-size: 1.1vw;
    margin-top: 2vh;
    width: 24%; 
}

#main-body div:nth-child(2)
{
    width: 70%;
}

#main-body div .card {
    display: flex;
    /* border: 2px solid green; */
    width: 120%;
    margin: 0.4vw;
    font-size: 1em;
}

#main-body div:nth-child(1) .card img{
    width: 100%;
    border-radius: 6px;
    height: 12vh;

}
#main-body div .cart-title{
    font-size: 1.1vw;
    font-weight: 600;
    width: 60%;
    margin-top: 1vw;
    margin-left: 1.2vw;

}


