*{
    background-color: #242729;
    padding: 7px;
    margin-left: 25px;
    color: white;
  }
  
  
  .App h1{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
  
  .App h2{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  
  .keypoint strong{
    font-weight: bolder;
  }
  
  
  
  
  
  